{% extends 'Todolist/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Reset Password {% endblock title %}

{% block content %}
<h2>An email has been sent to enable you to reset your password. Please check your inbox.</h2>
<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}

    <button class="btn btn-primary btn-lg mt-4"  type="submit"><a class="text-decoration-none text-light" href="{% url 'account_login' %}">Go Back To Login</a></button>
</form>

{% endblock content %}